@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
html, body {
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Source Sans' sans serif;
    font-weight:  400;
    font-size: 14px;
    background-color: #f0f2f4;
}

* {
    box-sizing: border-box;
}

#container{
    display: inline-flex;    
}
header {
    height: 63px;
    padding:0 41px;
    color: #343a40;
    background-color: #fff;
    width: 100%;
    min-width: 100%;
}

    header .logo{
        display: inline-block;
        width: 208px;
        /*position: relative;
        top:13px;*/
        padding-top: 13px;
        vertical-align: top;
        height: 63px;
    }
    header .menu{
        display: inline-block;
    }
    
    header .menu a {
        padding: 21px 18px 0 18px;    
        font-weight: 600;
        text-transform: uppercase;
        color: #354e66;
        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 63px;
        
    }
    header .menu a.selected,
    header .menu a:hover {
        border-bottom: 2px solid #354a40;
    }

aside {
    float: left;
    width: 249px;
    background-color: #354e66;
    color: #90abc0;
}
    aside .user {
        padding-top: 36px;
        padding-bottom: 38px;
        font-size: 16px;
        justify-content: center;
        text-align: center;
    }
    aside .user img {        
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background-color: #c4ccdf;
    }
    aside .user button {
        width: 165px;
        height: 43px;
        border: 1px solid #fff;
        border-radius: 2px;
        background-color: #fff;
        color: #354e66;
        font-size: 18px;
        cursor: pointer;
    }
    aside .aside-menu a {
        display: block;
        padding: 14px 0  14px 34px;
        cursor: pointer;
        text-decoration: none;
        color: #90abc0;
    }
    aside .aside-menu  a:hover,
    aside .aside-menu a.selected { 
        background-color: #3f576e;
        border-left: 1px solid #fff;
        color: #fff;
    }
    aside .login-logout { 
        padding: 241px 0 36px 34px; 

    }
    aside .login-logout a {
        cursor: pointer;
        text-decoration: none;
        color: #90abc0;
    }
    aside .login-logout a:hover {
        color: #fff;
    }
main {
    display: inline-flex;
    }
    main .center-content, .right-content{
    float: left;
    }
    main .inbox {
        background-color: #fff;
        margin: 40px 43px 40px 57px;
        width: 522px;
        height: 181px;
    }
    main .inbox-text {
        padding: 5px 30px 20px 30px;
        line-height: 1.6;
    }
    main .inbox a {
        text-decoration: none;
    }
    main .inbox-header {
        height: 46px;
        background-color: #f8f9fa;
        vertical-align: middle;
        color: #343a40;
    }
    main .inbox-header img {
        display: inline-block;
        width: 46px;
        height: 46px;  
        vertical-align: middle;     
    }
    main .prodbox {
        width: 240px;
        height: 280px;
        float:left;
        margin-left: 40px;
        cursor: pointer;
    }
    main .new-product {
        margin-left: 59px;
    }
    main .prodimg {
        width: 240px;
        height: 230px;
        display: block;

    }
    main .prodbox a{
        display: block;
        height: 50px;
        width: 240px;
        background-color: #fff;
        text-decoration: none;
        padding-left: 22px;
        padding-top: 16px;
        color: #343a40;
    }
    main .comments, .views {
        width: 241px;
        height: 91px;
        background-color: #fff;
        float: left;
        margin-top: 40px;
        margin-left: 36px;
        position: relative;
        left: -40px;
    }
    main .comment-img {
        width: 96px;
        height: 91px;
        background-color: #9775fa;
    }
    main .view-img {
        width: 96px;
        height: 91px;
        background-color: #20c997;
    }
    main .comment-txt, .view-txt {
       display: inline-block;
       vertical-align: top;
    }
    main .comment-ct, .view-ct {
        font-size: 36px;
        margin-left: 25px;
        position: relative;
        top:15px;
        display: inline-block;

    }
    main .comment-txt p, .view-txt p {
        font-size: 16px;
        padding-left: 25px;
        color: #727c85;
    }

#info-box {
    display: inline-flex;
}

#chart {
    clear: left;
    padding-top: 45px;
    cursor: pointer;
}